*{
    margin: 0;padding: 0;
    text-decoration: none;
    color: white;
    font-family: 'Orbitron';
    box-sizing: border-box;
}

@font-face {
    font-family: 'neo';
    src: url(NeoSansArabicBold.woff);
}
:root {
  --black: #000000;
  --orange: #FF6B00;
  --violet: #9D4EDD;
  --text: #EAEAEA;
  --gray: #1C1C1C;
  --btn : #FF6B00;
  --nav : #000000;
  --text-con : #20172d;
  --titles : #EAEAEA;
}
body.light-theme {
  --black:  linear-gradient(135deg, #FF6B00 , #c066e4);
  --gray: #E5DFF2;
  --violet: #fff;
  --orange: #FF8C42;
  --text: #fff;
  --btn : #9D4EDD;
  --nav :  hsla(15, 100%, 61%, 1);
  --text-con : #f27ef6;
  --titles : #20172d;
--nav: linear-gradient(180deg, hsla(15, 100%, 61%, 1) 0%, hsla(29, 96%, 50%, 1) 50%, hsla(0, 100%, 68%, 1) 80%);

--nav: -moz-linear-gradient(180deg, hsla(15, 100%, 61%, 1) 0%, hsla(29, 96%, 50%, 1) 50%, hsla(0, 100%, 68%, 1) 80%);

--nav: -webkit-linear-gradient(180deg, hsla(15, 100%, 61%, 1) 0%, hsla(29, 96%, 50%, 1) 50%, hsla(0, 100%, 68%, 1) 80%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF6B3A", endColorstr="#FA7B05", GradientType=1 );
  background: hsla(15, 100%, 61%, 1);

background: linear-gradient(180deg, hsla(15, 100%, 61%, 1) 0%, hsla(29, 96%, 50%, 1) 50%, hsla(0, 100%, 68%, 1) 80%);

background: -moz-linear-gradient(180deg, hsla(15, 100%, 61%, 1) 0%, hsla(29, 96%, 50%, 1) 50%, hsla(0, 100%, 68%, 1) 80%);

background: -webkit-linear-gradient(180deg, hsla(15, 100%, 61%, 1) 0%, hsla(29, 96%, 50%, 1) 50%, hsla(0, 100%, 68%, 1) 80%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF6B3A", endColorstr="#FA7B05", GradientType=1 );
}
body {
  min-height: 100vh;
  width: 100%;
  background-color: var(--black);
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  background-color: var(--black);
  overflow-x: hidden;
  overflow-y: auto;
}


.container p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
button{
  background: var(--btn);
  color: var(--black);
  box-shadow: 0 0 15px var(--orange);
  border: 1px solid var(--black);
  cursor: pointer;
  transition: 0.3s;
}
button:hover{
    transform: scale(1.1);
    background: linear-gradient(135deg , var(--violet) , var(--orange));
    box-shadow: 0 0 15px var(--violet);
}
h2 {
  color: var(--violet);
  text-shadow: 0 0 10px var(--violet);
}
/*NAVBAR*/
nav{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    background: var(--nav);
    text-transform: capitalize;
    align-items: flex-start;
    position: fixed;
    z-index: 9999999;
    width: 100%;
    
    
}
nav ul li{
    list-style: none;
}
nav ul li a{
    color: var(--violet);
    border-bottom: transparent 2px solid; 
    transition: 0.3s;
}
nav ul{
    display: flex;
    gap: 70px;
    margin-right: 100px;
    align-items: flex-start;  

    position: relative;
}
nav ul a:hover{
    border-bottom: var(--violet) 2px solid; 
}

/*bANNER*/

.hero-section{
    width: 100%;
    height: 400px;
    position: relative;
    margin-top: 72px;
    margin-bottom: 20px;
}
.hero-section .img-box{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0;
    margin: 0;
}
.input{
    position: absolute;
    left: 20%;
    transform: translate(-10%);
    display: flex;
    flex-direction: column;
    bottom: 50px;
    height: fit-content;
}
.hero-section h1{
    font-size: 50px;
   
}
.hero-section .input a{
    color: var(--black);
}
.hero-section .input a{
    display: inline-block;
    width: 100%;
}
.hero-section #right{
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    transform: scale(1.5);
    cursor: pointer;
}
.hero-section #left{
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    transform: scale(1.5);
    cursor: pointer;
}

nav ul li :last-child{
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
}
nav ul #search-icon{
cursor: pointer;
font-size: 26px;
color: var(--violet);
}
.popular-anime{
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    overflow: visible;
    margin: 0;
    position: relative;
}
.img-box #img2,#img3,#img4{
    display: none;
}
.card img{

    object-fit: cover;
    width: 100%;
    height: 289px;
}
.card {
    width: 215px;
    height: 370px;
    overflow: visible;
    min-width: 0;
    background-color: var(--text-con);
    transform: scale(.9);
    position: relative;
    z-index: 1;
}
.fcard{
    width: 275px;
    height: 225.2px;
    min-width: 0;
    background-color: var(--text-con);
    position: relative;
    z-index: auto;
    display: grid;
    grid-template-rows: 8fr 2fr;
 }
.fcard .img-box{
    height: calc(225px * 0.8)
}
.fcard .text-container{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(225px * 0.2);
    padding: 0 10px;
    background: var(--text-con);
    
}
.card .text-container{
    overflow: hidden;
    background: var(--text-con)
    
}
.card p,.fcard p:not(.pop-up){
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.4;
    padding: 0 10px;
    margin-bottom: 10px;
}
.card h2{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 10px;
    text-shadow: none;
    font-size: 25px;
}
.fcard h2{
     white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--text);
    text-shadow: none;
    font-size: 20px;
}

.naruto{
    display: none;
}
.fcard{
    cursor: pointer;
    position: relative;
}
.pop-up p{
    cursor: auto;
}
.card p::after, .fcard p::after{
    content:'...';
}

::-webkit-scrollbar{
    max-width: 8px;
}
::-webkit-scrollbar-track{
    background-color: #111;
    
}
::-webkit-scrollbar-thumb{
    background: var(--violet);
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--violet);
}
#newanime{
    margin-top: 20px;
    margin-bottom: 20px;
    white-space: nowrap;    
}
.anime-episodes {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 75%;
    margin: auto;
    min-height: 100vh;
    padding: 5px;
    align-content: flex-start;
    position: relative;
    margin-top: 20px;
}
.titleCon {
  text-align: center;
}

.titleCon h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; /* optional */
  padding: 0;
  margin: 0;
    
}

.titleCon h2::before,
.titleCon h2::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #888;
  margin: 0 10px;
}


.fav-animes{
    display: flex;
    gap: 5px;
    justify-content: center;
    flex-wrap: wrap;
    width: 75%;
    margin: auto;
    margin-top: 82px;
    height: fit-content;

}
.anime-card{
    width: 280px;
    height: 225px;
    cursor: pointer;
}
.img-con{
    position: relative;
    width: 280px;
    height: 175px;
}
.img-con img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text-con{
    background: #1E2436;
    display: flex;
    justify-content: center;
    padding: 0 10px;
    align-items: center;
    flex: 1;
    height: 50px;
    overflow: hidden;
}
.text-con h3{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    
}
.img-con h3{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.anime-episodes h2{
    font-family: "neo";
    text-shadow: none;
}
.anime-episodes p{
    color: var(--text);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#searchbar-container{
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 50px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    padding: 8px 15px;
    display: none;
}
#searchbar-container input{
    width: 73%;
    height: 100%;
    border-radius: 15px;
    border: 1px solid rgb(194, 185, 185);
    color: black;
    padding: 8px 15px;
    transition: all 0.3s ease;
}
#searchbar-container input:focus{
    box-shadow: 0 0 10px 2px var(--orange);
    outline: none;
}
.fcard .img-box{
    position: relative;
}
.fcard .img-box i{
    font-size: 1.6rem;
    position: absolute;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    cursor: pointer;
    transition: .3s;
}
.fcard .img-box:hover img{
    opacity: 0.5;
}
.fcard .img-box:hover i{
    opacity: 1;
}

.red{
    color: red;
}
.pop-up-cover{  
    background: rgba(81, 1, 99, 0.316);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    margin-left: -50px;
    
}
.pop-up{
    width: 800px;
    height:500px;
    padding: 50px;
    background-color: transparent;
    backdrop-filter: blur(30px);
    position: fixed;
    display: inline-block;
    z-index: 999999;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s;
    display: flex;
    gap: 40px;
}
.pop-up .fa-xmark{
    position: absolute;
    right: 20px;
    top: 20px;  
    cursor: pointer;
}
.pop-up .img-box{
    background-color: #fff;
    width: fit-content;
    border-radius: 5px;
    z-index: 9999;
}
.pop-up .img-box img{
    height: 100%;

    width: 100%;
    object-fit: cover;
}
.pop-up h2 , p{
    white-space: wrap;
    text-overflow: ellipsis;
    z-index: 99999;
}
.pop-up .text{
    max-height: 83%;
    text-overflow: ellipsis;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    overflow-x: hidden;
    padding: 5px;
}  
.pop-up ::-webkit-scrollbar-thumb{
    background-color: var(--orange);
    backdrop-filter: blur(10px);
}
.pop-up ::-webkit-scrollbar-track{
    border-radius: 5px;
}
.pop-up .text h2{
color: white;
} 
#watchbtn{
    position: absolute;
    bottom: 50px;
    left: 70%;
    transform: translateX(-50%);
    padding: 5px 15px;
    white-space: nowrap;
}
.pop-up h2,p::before{
    content: "-";
      
}
.pop-up h2,p::after{
    content: "-";
    
}
.hide{
    display: none;
}
.show{
    opacity: 1;
    visibility: visible;
    
}
.replica{

    display: none;

}
.nav .light-mode{
    width: 50px;
    height: 26px;
    border-radius: 15px;
    background-color: #ffffff;
    position: absolute;
    right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3px;
    cursor: pointer;
}
.nav .light-mode .moon-con{
    background-color: #ffffff;
    box-shadow: 0 0 10px 2px var(--violet);
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    visibility: visible;
    transition: all 0.3s ease;
}

.nav .light-mode .fa-moon{
    transform: scale(0.9);
    color: var(--violet);
}
.nav .light-mode .fa-sun{
    transform: scale(0.9);
    color: var(--orange);
}
.nav .light-mode .sun-con {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.3s ease;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0 0 10px 2px var(--orange);
  border-radius: 50%;
  cursor: pointer;
  visibility: hidden; 
}
body.light-theme .fcard .img-box:hover img{
    opacity: 0.8;
}
.anime-details{
    width: 400px;
    height: 400px;
    border-radius: 10px;
}
.fav-animes .title{
    width: 100%;
    margin-bottom: 20px;
    position: relative;


}